.form-container {
    background-color: rgba(163, 167, 180, 0.37);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-mubis {
    margin-left: 40px;
    margin-right: 40px;

}
