body {
    background: rgb(155,201,210);
    background: -moz-linear-gradient(180deg, rgba(155,201,210,0.5830707282913166) 6%, rgba(79,132,156,1) 49%, rgba(3,2,27,1) 93%);
    background: -webkit-linear-gradient(180deg, rgba(155,201,210,0.5830707282913166) 6%, rgba(79,132,156,1) 49%, rgba(3,2,27,1) 93%);
    background: linear-gradient(180deg, rgba(155,201,210,0.5830707282913166) 6%, rgba(79,132,156,1) 49%, rgba(3,2,27,1) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9bc9d2",endColorstr="#03021b",GradientType=1);
    background-attachment: fixed;
}

.text {
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.form-container {
    background-color: rgba(163, 167, 180, 0.37);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-mubis {
    margin-left: 40px;
    margin-right: 40px;

}

